//colores
$bg-Color: rgb(252, 182, 53);
$letter-Color: rgb(255, 0, 0);
$border: rgb(255, 255, 0);
$card-Color: rgb(255,255,100);
$main-Color: rgb(0, 0, 0);

//fonts
$mainFont: 'Nunito', sans-serif;
$nosotrosFont: 'Signika Negative', sans-serif;






