@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


//imports
@import "_vars";
@import "_commons";
@import "_nav";
@import "_forms";
@import "_footer";



//media querys
@media screen and (max-width:760px){
    h1{        
        font-size: 16px;        
    }
    #error{
        margin-top: 30px;
        width: auto;
        height: auto;
    }
    .container .content {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 760px) {
    .header {
        text-align: center;
        .sidebar {
            grid-column: 1 / 4; }
    }
    .container {
        grid-column: 1 / -1;
    }
   
    #iframe {
        align-items: center;
        width:auto;
        height: auto;
    }
    #info {
        width: 160px;
        height: 250px;
    }
    form, .form {
    width: auto;
    height: auto;
    }
}